# Fichiers de données (Trop lourds ou confidentiels)
*.csv
*.xlsx
*.xls

# Dossiers générés par Python
__pycache__/
*.pyc

# Environnements virtuels
venv/
env/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration IDE
.vscode/
.idea/